---
const photos = await Astro.glob("../imgs/homepage/*png");
const tiles = ["2", "3", "2", "2", "2", "3", "2", "2"];
import { Image } from 'astro:assets';

import home1 from '../imgs/homepage/360_01.png';
import home2 from '../imgs/homepage/360_02.png';
import home3 from '../imgs/homepage/360_03.png';
import home4 from '../imgs/homepage/360_04.png';
import home5 from '../imgs/homepage/360_05.png';
import home6 from '../imgs/homepage/360_06.png';
import home7 from '../imgs/homepage/360_07.png';
import home8 from '../imgs/homepage/360_08.png';
import home9 from '../imgs/homepage/360_09.png';
---

<script>
import { masonry } from 'masonry-layout';
</script>

<div class="grid" data-masonry='{"gutter": 10, "columnWidth": 360, "itemSelector": ".grid-item" }'>
  <a href= "posts/the-reading-hermit">
  <div class="grid-item grid-item--height3"> {/* 1 : gemaelde */}
    <img src={home1.src} /> </div> </a>
  
  <a href= "posts/pigment-analysis">
  <div class="grid-item grid-item--height1"> {/* 5 : elemente */}
    <img src={home5.src} /> </div> </a>

  <a href= "posts/artefacts">
    <div class="grid-item grid-item--height2"> {/* 9 : objekte*/}
      <img src={home9.src} /> </div> </a>

  <a href= "posts/laboratory">
  <div class="grid-item grid-item--height2"> {/* 2 : foto sepia*/}
    <img src={home2.src} /> </div> </a>

  <a href= "posts/xrf">
  <div class="grid-item grid-item--height3"> {/* 4 : gemaelde analyse */}
    <img src={home4.src} /> </div> </a>

  <a href= "posts/transdiciplinary">
  <div class="grid-item grid-item--height1"> {/* 3 : nina */}
    <img src={home3.src} /> </div> </a>

  <a href= "posts/xray-and-xrf">
  <div class="grid-item grid-item--height3"> {/* 6 : quelle */}
    <img src={home6.src} /> </div> </a>

  <a href= "posts/xray-matter-interaction">
  <div class="grid-item grid-item--height2"> {/* 7 : roentgen */}
    <img src={home7.src} /> </div> </a>

  <a href= "posts/ocre-pigments">
  <div class="grid-item grid-item--height1"> {/* 8 : ockertoene*/}
    <img src={home8.src} /> </div> </a>
</div>

<style>
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 1200px;
}

.grid:after {
}

.grid-item {
  width: 360px;
  height: 400px;
  float: left;
  margin-bottom: 10px;
}

.grid-item--height1 { height: 180px; }
.grid-item--height2 { height: 220px; }
.grid-item--height3 { height: 280px; }

.grid-item:before {

}



</style>


